__pycache__
.DS_Store
.env
chunked
files
johnTranscripts
johnWavs
json
labeled
mono
output
speechmaps
split_wavs
test_files
test_mono
test_output
test_split_wavs
test_transcripts
transcripts
truncated
*.db
*.wav
errors.log
test_errors.log